USE [master]
GO
/****** Object:  Database [CasaDeComida]    Script Date: 24/11/2020 18:43:28 ******/
CREATE DATABASE [CasaDeComida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CasaDeComida', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CasaDeComida.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CasaDeComida_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CasaDeComida_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CasaDeComida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CasaDeComida]
GO
/****** Object:  Table [dbo].[Comidas.v2]    Script Date: 24/11/2020 18:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comidas.v2](
	[IdComida] [int] IDENTITY(1,1) NOT NULL,
	[NombreComida] [nvarchar](50) NOT NULL,
	[TipoComida] [nvarchar](50) NOT NULL,
	[Precio] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
